/* Created by Ross x21132305 */

@import "../../pages/Variables.scss";
@import "../Main-styles.scss";

.about-box-1 {
    width: 100%;
    height: 45%;
    display: flex;
    background-color: $light;
    align-items: center;
    justify-content: center;

}

.about-box-2 {
    width: 100%;
    height: 45%;
    display: flex;
    background-color: $light;
    align-items: center;
    justify-content: center;   
}

.ross{
    text-align: center;
}

.aboutImg img {
    display: flex;
    justify-content: center;
    size: $percent20;
}
