/* Created by Ross x21132305 */

@import "../../pages/Variables.scss";
@import "../Main-styles.scss";


.contact-h1{
    display:flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.form {
    width: $percent100;
    height: $percent75;
    display: flex;
    flex-direction: column;
    background-color: $light;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    
fieldset {
    margin: 20px, 0
}

label {
    font-size: larger;
}

input {
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 20px;
}
button{
    margin: 0 auto;
    display: block; 
    font-size: larger;
    }
}

.textbox {
    width: 400px;
    height: 200px;
}
 

.contact-info {
    display: flex;
    justify-content: space-between;
}