/* created aelita  21113131*/
@import "../../pages/Variables.scss";
@import "../Main-styles.scss";

.homepage {
    background-color: $transp;
    width: $percent100;
    min-height: 100vh;

    .home-btn a {
        color: $light;
        background-color: $dark;
        padding: 5px 10px;
        transition: 0.5s ease-in-out;
        margin: $m0 $m0 $m8 $m0;
    }
    .home-btn a:hover {
        color: $hover;
        transform: scale(1.1);
    }
    .link-btn {
        color: $light;
        background-color: $dark;
        padding: 5px 10px;
        transition: 0.5s ease-in-out;
        margin: $m2 $m0 $m8 $m0;
    }
    .link-btn:hover {
        color: $hover;
        transform: scale(1.1);
    }

    .home-box-1 {
        width: $percent100;
        height: 40%;
        display: flex;
        background-color: $light;
        align-items: center;
        justify-content: space-around;
        float: left;
    }

    .home-box-2 {
        width: 30%;
        min-height: 40vh;
        display: flex;
        background-color: $light;
        align-items: center;
        flex-direction: column;
        float: left;
        justify-content: space-evenly;

        p {
            text-align: center;
            padding: $m0 $m10 $m0 $m10;
            color: $hover;
        }
        h1 {
            text-align: center;
            padding: $m0 11% $m0 11%;
        }
        h3 {
            text-align: center;
            padding: $m0 11% $m0 11%;
        }
    }

    .home-box-3 {
        width: 28%;
        min-height: 45vh;
        display: flex;
        background-color: $light;
        align-items: center;
        flex-direction: column;
        float: right;
        justify-content: space-around;
        margin: $m5 $m0;

        p {
            text-align: center;
            color: $hover;
            padding: $m0 15%;
        }
        h1 {
            text-align: center;
            color: $heading;
            box-shadow: 200px;
        
        }
        h3 {
            text-align: center;
            padding: $m0 15%;
        }
    }

    .home-box-4 {
        width: 28%;
        min-height: 45vh;
        display: flex;
        background-color: $light;
        align-items: center;
        flex-direction: column;
        float: left;
        margin: $m5 $m4 $m5 $m0;

        p {
            text-align: center;
            color: $hover;
            padding: $m0 15%;
        }
        h1 {
            text-align: center;
            color: $heading;
        }
        h3 {
            text-align: center;
            padding: $m0 15%;
        }
    }

    .home-box-5 {
        width: 28%;
        min-height: 45vh;
        display: flex;
        background-color: $light;
        align-items: center;
        flex-direction: column;
        float: left;
        justify-content: space-around;
        margin: $m5 $m0 $m5 $m4;

        p {
            text-align: center;
            color: $hover;
            padding: $m0 15%;
        }
        h1 {
            text-align: center;
            color: $heading;
        }
        h3 {
            text-align: center;
            padding: $m0 15%;
        }
    }

    .home-box-6 {
        width: 90%;
        min-height: 80vh;
        display: flex;
        background-color: $light;
        align-items: center;
        flex-direction: column;
        float: left;
        justify-content: space-around;
        margin: $m5 $m0 $m5 $m4;

        p {
            text-align: center;
            color: $hover;
            padding: $m0 15%;
        }
        h1 {
            text-align: center;
            color: $heading;
        }
        h3 {
            text-align: center;
            padding: $m0 15%;
        }
    }


    /*home slider - start*/
    .slider {
        position: relative;
        margin: $m6;
    }
    .slides_img {
        width: $percent100;
        height: 50vh;
        border-radius: $border-rad1;
        object-fit: cover;
    }

    .right-arrow {
        position: absolute;
        top: $percent50;
        right: 0.5%;
        font-size: 40px;
        color: $hover;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .right-arrow:hover {
        color: $light;
    }
    .left-arrow {
        position: absolute;
        top: $percent50;
        left: 0.5%;
        font-size: 40px;
        color: $hover;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow:hover {
        color: $light;
    }

    .slide {
        opacity: 0;
        transition-duration: $trans1;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: $trans-scale;
    }
    .slides_title {
        width: $percent50;
        height: $percent40;
        font-size: 40px;
        position: absolute;
        z-index: 10;
        top: $m0;
        text-align: right;
        font-style: italic;
    }
    /*home slider - end*/
}
/* responsive */
@media (max-width: $screen1400) {

    .homepage{

        .home-box-2 {
            width: $percent30;
            margin: 7% $m0;
            padding: $m0 1%;

            h1 {
                text-align: center;
            }
        }

        /*home slider - start*/
        .slides_img {
            width: $percent100;
        }
    }
}

@media (max-width: $screen1025) {

    .homepage{
        /*home slider - start*/
        .slides_img {
            width: $percent100;
        }

        .home-box-2 {
            width: 35%;

            p {
                margin-top: $m2;
            }
        }
    }
}
@media (max-width: $screen915) {

    .homepage{

        .home-box-1 {
            width: 65%;
            height: 40vh;
        }

        .home-box-2 {
            height: 25%;
            margin: $m8 $m0;
        }

        .home-box-3 {
            width: $percent40;
            height: 50vh;
            margin: $m5 $m4;
        }

        .home-box-4 {
            width: $percent40;
            height: 50vh;
            margin: $m5 $m4;
        }

        .home-box-5 {
            width: $percent90;
            height: 20vh;
            margin: $m5 $m4;
        }

        /*home slider - start*/
        .slides_img {
            width: $percent100;
            height: 270px;
        }
        .slides_title {
            font-size: $font35;
        }
        /*home slider - end*/
    }
}

@media (max-width: $screen786) {

    .homepage{

        .home-box-2 {
            height: 25%;
            margin: $m6 $m0;
        }
        .home-box-3 {
            height: 50vh;
        }
        .home-box-4 {
            height: 50vh;
        }
        .home-box-5 {
            height: 20vh;
        }
        /*home slider - start*/
        .slides_img {
            height: 23vh;
        }
        /*home slider - end*/
    }
}

@media (max-width: $screen540) {

    .homepage{

        .home-box-1 {
            width: $percent60;
        }

        .home-box-2 {
            height: 27%;
            margin: $m6 $m0;

            p {
                margin-top: $m0;
            }
        }

        .home-box-3 {
            margin: $m8 $m8;
        }

        .home-box-4 {
            margin: $m8 $m2;
        }

        .home-box-5 {
            margin: $m5 $m2;
        }
        /*home slider - start*/
        .slides_img {
            height: 21vh;
        }

        .slides_title {
            font-size: $font20;
        }
        .right-arrow {
            font-size: $font25;
        }

        .left-arrow {
            font-size: $font25;
        }
        /*home slider - end*/
    }
}

@media (max-width: $screen420) {

    .homepage{
        display: flex;
        flex-direction: column;

        .home-box-1 {
            width: $percent90;
            height: $percent50;
            margin: $m5 $m4;
        }

        .home-box-2 {
            width: $percent90;
            height: $percent20;
            margin: $m5 $m4;
        }

        .home-box-3 {
            width: $percent90;
            margin: $m5 $m4;
        }

        .home-box-4 {
            width: $percent90;
            margin: $m5 $m4;
        }
        .home-box-5 {
            margin: $m5 $m4;
        }
        /*home slider - start*/
        .slides_title {
            font-size: $font15;
        }
        /*home slider - end*/
    }
}
