@import "../pages/Variables.scss";

.box {
    margin: 0% 2%;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}
h6 {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }
    
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 10px;
    }
}

@media screen and (max-width: 380px) {
    p {
        font-size: 15px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }   
}
