@import "../pages/Variables.scss";

.box {
    margin: $m0 $m2;
}

@media screen and (min-width: 916px) {
    p {
        font-size: $font20;
    }

    a {
        font-size: $font20;
        text-decoration: none;
        color: $dark;
    }
    a:hover {
        color: $hover;
    }

    h1 {
        font-size: $font35;
    }

    h2 {
        font-size: $font30;
    }

    h3 {
        font-size: $font28;
    }
}

@media screen and (max-width: $screen915) {

    p {
        font-size: $font18;
    }
    a {
        font-size: $font20;
        text-decoration: none;
        color: $dark;
    }
    a:hover {
        color: $hover;
    }

    h1 {
        font-size: $font30;
    }
    
    h2 {
        font-size: $font28;
    }
    
    h3 {
        font-size: $font25;
    }
}

@media screen and (max-width: $screen786) {

    a {
        font-size: $font20;
    }
    p {
        font-size: $font15;
    }
    
    h1 {
        font-size: $font25;
    }
    
    h2 {
        font-size: $font20;
    }
    
    h3 {
        font-size: $font18;
    }
   
}
@media screen and (max-width: $screen540) {
    p {
        font-size: $font12;
    }

    a {
        font-size: $font15;
    }
    
    h1 {
        font-size: $font20;
    }
    
    h2 {
        font-size: $font18;
    }
    
    h3 {
        font-size: $font15;
    }  
}

@media screen and (max-width: $screen420) {
    h1 {
        font-size: $font15;
    }
    
    h2 {
        font-size: $font12;
    }
    
    h3 {
        font-size: $font10;
    }  
}

@media screen and (max-width: $screen380) {
    p {
        font-size: $font10;
    } 
}
