@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto&display=swap');

// font
$Poppins: 'Poppins' , sans-serif;

// font size
$exLgFont: 80px;
$exLgFont1: 60px;
$exLgFont2: 50px;
$lgFont: 40px;
$mdFont: 35px;
$mdFont1: 30px;
$mdFont2: 25px;
$smFont: 20px;
$smFont1: 15px;

// colors
$dark: #000000;
$light: #ffffff;
$primary: rgb(1, 7, 39);
$menuBackground: rgb(50, 53, 70);

//borders
$border1: 1px solid;

// border radius
$border-rad1: 20px;

// height
$fullHeight: 100%;
$height1: 80%;
$height2: 75%;
$height3: 50%;

// width
$fullWidth: 100%;
$width1: 80%;
$width2: 50%;
$width3: 40%;

// spacing
$spacing-exLg: 20%;
$spacing-lg: 15%;
$spacing-md: 10%;
$spacing-sm: 5%;
$spacing-exSmall: 2%;


