@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap');
// font
$Poppins: 'Poppins' , sans-serif;

// font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// font size
$exLgFont: 80px;
$exLgFont1: 60px;
$exLgFont2: 50px;
$lgFont: 40px;
$mdFont: 35px;
$mdFont1: 30px;
$mdFont2: 25px;
$smFont: 20px;
$smFont1: 15px;
$smFont2: 12px;
$smFont3: 10px;
$smFont4: 18px;

// colors
$dark: #000000;
$light: #ffffff;
$primary: rgb(1, 7, 39);
$menuBackground: rgb(50, 53, 70);
$transp: #ffffff00;
$hover: rgb(13, 173, 13);

//borders
$border1: 1px solid;

// border radius
$border-rad1: 20px;

// height
$fullHeight: 100%;
$height1: 80%;
$height2: 75%;
$height3: 70%;
$height4: 50%;
$height5: 20%;

// width
$fullWidth: 100%;
$width1: 80%;
$width2: 50%;
$width3: 40%;
$width4: 35%;
$width5: 20%;

// spacing
$spacing-exLg: 20%;
$spacing-lg: 15%;
$spacing-md: 10%;
$spacing-sm: 5%;
$spacing-exSmall: 2%;

