@import "../../pages/Variables.scss";

.navContainer{
    background-color: $dark;
    color: $light;
    overflow: hidden;
    width: $fullHeight;
    margin: 0% 0% 6% 0%;
    padding-right: $spacing-lg;
    display: flex;
    justify-content: space-between;

    .logo {
        margin-left: $spacing-sm;
        
        img {
            height: $height2;
            width: $width3;
            cursor: pointer;
        }
    }
}

.search-bar {
    margin: 6% 0% 0% 25%; 

    input{
        padding: 1.5% 20% 1.5% 3%;
        margin-right: 2%;
        color: $dark;
        background-color: $light;
    }

    .search-btn {
        padding: 1.5% 5%;
        cursor: pointer;
        color: $dark;
        background-color: $light;
        font-weight: $semi-bold;
    }

    .search-btn:hover {
        background-color: $dark;
        border: $border1 $light;
        color: $light;
    }
}

.navBar ul {
    width: $fullHeight;
    transition: 1s ease;
    list-style: none;
    display: flex; 
    margin-top: $spacing-sm; 

    li {
        margin-inline: $spacing-exSmall;
        margin-block: $spacing-sm;

        a {
            font-size: $smFont1;
            font-weight: $semi-bold;
            color: $dark;
            background-color: $light;
            text-decoration: none;
            border: $border1;
            padding: 10px 30px;
            font-style: italic;
            text-align: center;
        }
    }
}

.navBar ul li a:hover {
    background-color: $dark;
    border: $border1 $light;
    color: $light;
}

.menu-icon {
    margin-right: -11%;
    margin-top: 3%;
}

.menu-icon .menu {
    display: none;
    color:$light;
    font-size: $exLgFont;
    cursor: pointer;
}

.closed {
    display: none;
    cursor: pointer;
    color: $dark;
    width: $fullHeight;
    justify-content: flex-start;
}

@media (max-width: 1025px) {
    
    .search-bar {
        margin: 4% 0% 0% 30%; 
    }
}

@media (max-width: 915px) {
    
    .navBar {
        position: fixed;
        min-width: $width2;
        height: 100vh;
        background-color: $menuBackground;
        transition: 1s ease;
        display: flex;
        flex-direction: column;
        top: -100%;
    }

    .navBar.active {
        top: 0;
        transition: 1s ease;
        z-index: 11;
    }
    
    .navBar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            margin-block: 7%;
            list-style: none;

            a {
                font-size: $mdFont;
                padding: 5px 30px;
            }
        }
    }
    
    .menu-icon .menu {
        display: block;
        color: $light;
        font-size: $exLgFont;
        cursor: pointer;
    }
    
    .closed {
        display: flex;
        cursor: pointer;
        color: $light;
        width: $fullWidth;
        justify-content: flex-start;
        margin-bottom: 7%;

        .close {
            font-size: $exLgFont1;
        }
    }

    .search-bar {
        margin: 10% 3% 0% 10%; 
    
        input{
            padding: 3% 5%;
            margin-right: 3%;
            font-size: $mdFont2;
            font-family: $Poppins;
        }
    
        .search-btn {
            padding: 3% 5%;
            margin-top: 5%;
            font-size: $mdFont2;
            font-family: $Poppins;
        }
    }
}

@media screen and (max-width: 768px) {
    .navBar ul {
        li {
            margin-left: 0%;

            a {
                font-size: $mdFont2;
            }
        } 
    }
    .menu-icon .menu {
        font-size: $exLgFont1;
    }
    
    .closed {
        margin-left: 0%;
    }
    .closed .close {
        font-size: $exLgFont2;
    }

    .search-bar {
        margin: 10% 3% 0% 10%; 
    
        input{
            padding: 1.5% 1%;
            margin-right: 2%;
            font-size: $smFont;
        }
    
        .search-btn {
            padding: 1.5% 1%;
            margin-top: 5%;
            font-size: $smFont;
        }
    }
}

@media screen and (max-width: 540px) {
    .navBar ul { 
        li {
            margin-left: -10%;

            a {
                font-size: $smFont1; 
            }
        }  
    }

    .menu-icon .menu {
        font-size: $exLgFont2;
    }
    
    .closed {
        margin-left: -10%;
    }

    .closed .close {
        font-size: $mdFont1;
    }

    .search-bar {
        margin: 10% 3% 0% 2%; 
    
        input{
            padding: 1% 2%;
            margin-right: 2%;
        }
    
        .search-btn {
            padding: 1% 2%;
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 380px) {
    .navBar ul li a {
        font-size: $smFont1;
    }

    .menu-icon .menu {
        font-size: $mdFont;
    } 
    
    .closed .close {
        font-size: $mdFont1;
    }

    .search-bar {
        margin: 10% 18% 0% 5%; 
    
        input{
            font-size: $smFont1;
        }
    
        .search-btn {
            font-size: $smFont1;
        }
    }
}