
/* created Aelita  21113131*/

@import "../../pages/Variables.scss";
@import "../../pages/Main-styles.scss";



@media (max-width: $screen3000) {
    .navContainer{
        background-color: $dark;
        color: $light;
        overflow: hidden;
        width: $percent100;
        margin: $m0 $m0 $m6 $m0;
        padding-right: $spacing15;
        display: flex;
        justify-content: space-between;
    
        .logo {
            margin-left: $m5;
            
            img {
                height: $percent75;
                width: $percent40;
                cursor: pointer;
            }
        }
    }
    
    .search-bar {
        margin: $m2 $m0 $m0 $m20; 
    
        input{
            padding: $m4 $m20 $m2 $m4;
            margin-right: $m2;
            color: $dark;
            background-color: $light;
        }
    
        .search-btn {
            padding: $m2 $m5;
            cursor: pointer;
            color: $dark;
            background-color: $light;
            font-weight: $semi-bold;
        }
    
        .search-btn:hover {
            background-color: $dark;
            border: $border1 $light;
            color: $light;
        }
    }
    
    .navBar ul {
        width: $percent100;
        transition: $trans1;
        list-style: none;
        display: flex; 
        margin-top: $spacing5; 
    
        li {
            margin-inline: $spacing2;
            margin-block: $spacing5;
    
            a {
                font-size: $font18;
                font-weight: $semi-bold;
                color: $dark;
                background-color: $light;
                text-decoration: none;
                border: $border1;
                padding: 10px 30px;
                font-style: italic;
                text-align: center;
            }
        }
    }
    
    .navBar ul li a:hover {
        background-color: $dark;
        border: $border1 $light;
        color: $light;
    }
    
    .menu-icon {
        margin-right: -11%;
        margin-top: 3%;
    }
    
    .menu-icon .menu {
        display: none;
        color:$light;
        font-size: $font50;
        cursor: pointer;
    }
    
    .closed {
        display: none;
        cursor: pointer;
        color: $dark;
        width: $percent100;
        justify-content: flex-start;
    }
}
@media (max-width: $screen1025) {
    .search-bar {
        margin: $m0 $m0 $m2 30%;
    }
    .navBar ul {
    
        li {
    
            a {
                font-size: $font15;
            }
        }
    }
}

@media (max-width: $screen915) {
    
    .navBar {
        position: fixed;
        min-width: $percent50;
        height: 100vh;
        background-color: $menuBackground;
        transition: $trans1;
        display: flex;
        flex-direction: column;
        top: -100%;
    }

    .navBar.active {
        top: 0;
        transition: $trans1;
        z-index: 11;
    }
    
    .navBar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            margin-block: 7%;
            list-style: none;

            a {
                font-size: $font35;
                padding: 5px 30px;
            }
        }
    }
    
    .menu-icon .menu {
        display: block;
        color: $light;
        font-size: $font50;
        cursor: pointer;
    }
    
    .closed {
        display: flex;
        cursor: pointer;
        color: $light;
        width: $percent100;
        justify-content: flex-start;
        margin-bottom: 7%;

        .close {
            font-size: $font50;
        }
    }

    .search-bar {
        margin: $m10 3% $m0 $m10; 
    
        input{
            padding: 3% 5%;
            margin-right: 3%;
            font-size: $font25;
        }
    
        .search-btn {
            padding: 3% 5%;
            margin-top: $m5;
            font-size: $font25;
        }
    }
}

@media screen and (max-width: $screen786) {
    .navBar ul {
        li {
            margin-left: $m0;
        } 
    }
    .menu-icon .menu {
        font-size: $font50;
    }
    
    .closed {
        margin-left: $m0;
    }
    .closed .close {
        font-size: $font50;
    }

    .search-bar {
        margin: $m10 3% $m0 $m10; 
    
        input{
            padding: 1.5% 1%;
            margin-right: $m2;
            font-size: $font20;
        }
    
        .search-btn {
            padding: 1.5% 1%;
            margin-top: $m5;
            font-size: $font20;
        }
    }
}

@media screen and (max-width: $screen540) {
    .navBar ul { 
        li {
            margin-left: -10%;

            a {
                font-size: $font15; 
            }
        }  
    }

    .menu-icon .menu {
        font-size: $font50;
    }
    
    .closed {
        margin-left: -10%;
    }

    .closed .close {
        font-size: $font30;
    }

    .search-bar {
        margin: $m10 3% $m0 $m2; 
    
        input{
            padding: 1% 2%;
            margin-right: $m2;
        }
    
        .search-btn {
            padding: 1% 2%;
            margin-top: $m5;
        }
    }
}

@media screen and (max-width: $screen380) {
    .navBar ul li a {
        font-size: $font15;
    }

    .menu-icon .menu {
        font-size: $font35;
    } 
    
    .closed .close {
        font-size: $font30;
    }

    .search-bar {
        margin: $m10 18% $m0 $m5; 
    
        input{
            font-size: $font15;
        }
    
        .search-btn {
            font-size: $font15;
        }
    }
}