/* Created by Aelita 21113131 */
@import "../../pages/Variables.scss";
@import "../../pages/Main-styles.scss";

hr {
    margin-left: $m5;
    margin-right: $m5;
}

.main-footer {
    width: $percent100;
    background-color: $dark;
    color: $light;
    padding-top: $spacing2;
    position: relative;
    display: flex; 
    flex-direction: column;

    .footer-row {
        display: flex;
        justify-content: space-evenly;
        margin: $m0;
        align-items: center;
        
        .footer-contact {
            list-style: none;
            font-size: $font18;
            font-weight: $regular;
        }

        .footer-socials {
            display: flex;
            list-style: none;
            font-size: $font18;
            font-weight: $regular;
        }
 
        .footer-col-1 {

            img {
                height: 80%;
                width: $percent50;
                cursor: pointer;
            }
        }

        .footer-col-2 {
        
            li a {
                text-decoration: underline 1.5%;
                font-size: $font15;
                cursor: pointer;
                color: $light;
            }
        }

        .footer-col-2 li a:hover {
            color: $hover;
        }

        .footer-col-3 {

            li {
                padding:$m4;
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }

            li:hover {
                transform: scale(1.3);
            }
        }

        .footer-col-4 li {
            font-size: $font15;
        }
    }

    .footer-row-1 {
        display:flex;
        justify-content: center;

        .footer-col-small {
            font-size: $font15;
        }
    }
}

@media (max-width: $screen540) {

    .main-footer {

        .footer-row {

            .footer-col-1 {
                img {
                    height: $percent75;
                    width: $percent40;
                }
            }

            .footer-col-2 {
                padding-right: 20%; 
            
                li a {
                    font-size: $font10;
                }
            }

            .footer-col-3 {
               margin: $m0 $m5 $m0 $m0;

                li{
                    font-size: $font10; 
                }
            }
        }

        .footer-row-1 {

            .footer-col-small {
                font-size: $font12;
            }
        }
    }
}

@media (max-width: $screen380) {

    .main-footer {

        .footer-row {

            .footer-col-1 {
                img {
                    height: $percent50;
                    width: $percent50;
                }
            }

            .footer-col-2 {
                padding-right: 5%; 
            }
            .footer-col-3 {
               margin: $m0 $m2 $m0 $m0;
            }
        }

        .footer-row-1 {

            .footer-col-small {
                font-size: $font10;
            }
        }
    }
}