@import "./pages/Variables.scss";

* {
  box-sizing: border-box;
}

html, body {
  width: auto!important; overflow-x: hidden!important;
}

body {
  font-family: $Poppins;
  margin: 0%;
  padding: 0%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}




