@import "./pages/Variables.scss";
@import "./pages/Main-styles.scss";

* {
  box-sizing: border-box;
}

html {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-family: $font;
  margin: $m0;
  padding: 0%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: $percent100;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container-wrap {
    flex: 1;
  }
}